{% load static from staticfiles %}
{% load cache %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link href='{% static 'style.css' %}' rel='stylesheet'/>
    <script type='text/javascript' src='{% static 'scripts.js' %}'></script>
    <script type='text/javascript' src='{% static 'jquery-3.1.0.js' %}'></script>
</head>

<body>
<div id='page'>

    <script type='text/javascript'>
        $(document).ready(function () {
            $('#shuffle').click(function () {
                shuffle($('.item_product'));
            });
        });
    </script>

    {% block header %}
        <div>
            {% if user.is_authenticated %}
                <span class='logout'>{{ user }}&emsp;<a href='/logout/?next=/'>Выход</a></span>
            {% else %}
                <span class='login'><a href='/login/?next=/'>Войти</a></span>
            {% endif %}
        </div>
        <div class='search'>
            <form action='/search/' method='get'>
                <input type='text' name='q' title='Поиск'>
                <input type='submit' value='Search'>
            </form>
        </div>
    {% endblock %}


    {% block sidebar %}{% endblock %}

    {% cache 86400 'content' user request.GET request.path %}
        <div class='content'>
            {% block breadcrumbs %}
                {% include 'breadcrumbs.html' %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>
    {% endcache %}

</div>
</body>
</html>