li {
    list-style-type: none;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.product_name {
    margin-right: 10pt;
    float: right;
}

.product_description {
    margin: 10pt;
}

.logout, .login {
    text-align: right;
    display: block;
}

.product_image > img {
    width: 20px;
    height: 20px;
}

.product_detail > img {
    width: 100px;
    height: 100px;
}

table {
    width: 100%
}

#page {
    position: relative;
    border: dashed 1px;
    width: 1000px;
    margin: auto;
    overflow: hidden;
    height: 100%;
}

.breadcrumbs {
    position: relative;
    width: 100%;
}

.category_header{
    margin-bottom: 10pt;
    font-style: italic;
}

.auth{
    text-align: center;
    display: block;
}

.sidebar {
    position: relative;
    left: 0;
    border: dashed 1px;
    float: left;
    width: 30%;
    height: 100%;
}

.search {
    width: 100%;
    border: dashed 1px;
    text-align: right;
    display: block;
}

.content {
    word-break: break-all;
    float: right;
    width: 69%;
}

.item_product {
    width: 160px;
    height: 100px;
    border: dashed 1px;
}

#pagination {
    text-align: center;
}

#shuffle {
    float: right;
    display: inline;
}