{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link href="{% static "style.css" %}" rel="stylesheet"/>
</head>

<body>
<div id="page">
    {% block header %}
        <div id="accounts_info" align="right">
            {% if user.is_authenticated %}
                {{ user }}&emsp;<a href="/logout/?next=/">Выход</a>
            {% else %}
                <a href="/login/?next=/">Войти</a>
            {% endif %}
        </div>
        <div id="search" align="right">
            <form action="/search/" method="get">
                <input type="text" name="q" title="Поиск">
                <input type="submit" value="Search">
            </form>
        </div>
    {% endblock %}

    {% block page %}

        <div id="sidebar">
            {% include "categories.html" %}
        </div>

        <div id="content">
            {% block breadcrumbs %}
                {% include "breadcrumbs.html" %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>

    {% endblock %}

</div>
</body>
</html>