{% load list_to_table %}
{% if item_list %}
    <table>
        {% for row in item_list|list_to_table %}
            <tr>
                {% for item in row %}
                    <td>
                        {% include "item.html" %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


    <div class="pagination">
        <span class="step-links">
            {% if item_list.has_previous %}
                <a href="?page={{ item_list.previous_page_number }}">&lt;&lt;&lt;Назад</a>
            {% endif %}

            <span class="current">
                {{ item_list.number }} из {{ item_list.paginator.num_pages }}
            </span>

            {% if item_list.has_next %}
                <a href="?page={{ item_list.next_page_number }}">Вперед&gt;&gt;&gt;</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <div>No such elements</div>
{% endif %}