{% load list_to_table %}
{% load add_get_param %}

{% if item_list %}
    <table>
        {% for row in item_list|list_to_table %}
            <tr>
                {% for item in row %}
                    <td>
                        {% include "item.html" %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {% if is_paginated %}
        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?{{ page_obj.previous_page_number|add_get_param:request  }}">&lt;&lt;&lt;Назад</a>
            {% endif %}

            <span class="current">
                {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?{{ page_obj.next_page_number|add_get_param:request }}">Вперед&gt;&gt;&gt;</a>
            {% endif %}
        </span>
        </div>
    {% endif %}
{% else %}
    <div>Нет элементов</div>
{% endif %}